.feher{
    background: white;
}

#masodik{
    margin-left: 10px;
    margin: 0px 0px 0px 10px;
/*ugyanaz a két marginos parancs*/
    border-top: dotted 1px black;
    border-bottom:dashed blue 1px;

    border-style:dashed;
    border-color:blue;
    border-width:10px;
}

#harmadik{

    border: 3px red ;
    padding:15px;


}

#negyedik{

    background-image: url('kep3.jpg');
    background-repeat:no-repeat;
    background-position:center center;
    background-size:contain;
}